services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.4.7
    command: ["start-dev", "--import-realm"]
    ports:
      - "8080:8080"
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin

      # Used inside dev-realm.json via ${MY_APP_CLIENT_SECRET}
      MY_APP_CLIENT_SECRET: "some-nice-dev-secret"

    volumes:
      - ./keycloak/import:/opt/keycloak/data/import:ro
      - keycloak_data:/opt/keycloak/data