services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.4.7
    command: ["start-dev", "--import-realm"]
    ports:
      - "8000:8080"

    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin

    volumes:
      - ./keycloak/import:/opt/keycloak/data/import:ro
      - ./keycloak/data:/opt/keycloak/data
